/Models/nbproject/private/
/DAL/nbproject/private/
/Models/build/
/Models/dist/
/DAL/build/
/DAL/dist/
/SWP391-Project-Zara-Delivery/nbproject/private/
/SWP391-Project-Zara-Delivery/build/
/SWP391-Project-Zara-Manager/nbproject/private/
/SWP391-Project-Zara-Manager/build/
