USE [master]
GO
/****** Object:  Database [ZaraFashion]    Script Date: 3/11/2024 3:22:16 PM ******/
CREATE DATABASE [ZaraFashion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZaraFashion', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ZaraFashion.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ZaraFashion_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ZaraFashion_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZaraFashion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZaraFashion]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/11/2024 3:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 3/11/2024 3:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[address] [nvarchar](100) NULL,
	[phone] [nvarchar](50) NULL,
	[email] [nvarchar](100) NULL,
	[account] [nvarchar](100) NULL,
	[password] [nvarchar](50) NULL,
	[image] [nvarchar](100) NULL,
	[date] [date] NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Delivery]    Script Date: 3/11/2024 3:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[email] [nvarchar](max) NULL,
	[phone] [nvarchar](50) NULL,
	[password] [nvarchar](max) NULL,
 CONSTRAINT [PK_Delivery] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 3/11/2024 3:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_info_id] [int] NOT NULL,
	[size] [nvarchar](5) NOT NULL,
	[color] [nvarchar](50) NOT NULL,
	[path] [nvarchar](100) NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportBill]    Script Date: 3/11/2024 3:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportBill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[user_name] [nvarchar](100) NULL,
	[moneytotal] [float] NULL,
 CONSTRAINT [PK_ImportBill] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportBillDetail]    Script Date: 3/11/2024 3:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportBillDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Product_id] [int] NULL,
	[ImportB_id] [int] NULL,
	[quantity] [int] NULL,
	[price] [float] NULL,
	[dof] [date] NULL,
	[exp] [date] NULL,
 CONSTRAINT [PK_ImportBillDetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 3/11/2024 3:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/11/2024 3:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_id] [int] NULL,
	[Shipper_id] [int] NULL,
	[delivery_id] [int] NULL,
	[Staff_name] [nvarchar](100) NULL,
	[totalprice] [float] NULL,
	[createDate] [datetime] NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orderdetail]    Script Date: 3/11/2024 3:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orderdetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Od_id] [int] NULL,
	[product_info_id] [int] NULL,
	[size] [nvarchar](5) NULL,
	[color] [nvarchar](50) NULL,
	[quantity] [int] NULL,
	[price] [float] NULL,
 CONSTRAINT [PK_Orderdetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/11/2024 3:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_info_id] [int] NOT NULL,
	[size] [nvarchar](5) NOT NULL,
	[color] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NULL,
	[quantity] [int] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[product_info_id] ASC,
	[size] ASC,
	[color] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductInfor]    Script Date: 3/11/2024 3:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductInfor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [float] NULL,
	[material] [nvarchar](50) NULL,
	[care_guide] [nvarchar](max) NULL,
	[img_default] [nvarchar](100) NULL,
	[style_id] [int] NULL,
	[origin] [nvarchar](50) NULL,
 CONSTRAINT [PK_ProductInfor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 3/11/2024 3:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Saleevent_id] [int] NULL,
	[Proinfo_id] [int] NULL,
	[percent] [decimal](4, 2) NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleEvent]    Script Date: 3/11/2024 3:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleEvent](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[startdate] [date] NULL,
	[enddate] [date] NULL,
 CONSTRAINT [PK_SaleEvent] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipper]    Script Date: 3/11/2024 3:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipper](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[delivery_id] [int] NULL,
	[name] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[location_id] [int] NULL,
	[phone] [nvarchar](50) NULL,
	[image] [nvarchar](100) NULL,
 CONSTRAINT [PK_Shipper] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Style]    Script Date: 3/11/2024 3:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Style](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cate_id] [int] NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Style] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/11/2024 3:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[rollid] [int] NULL,
	[name] [nvarchar](100) NULL,
	[phone] [nvarchar](50) NULL,
	[address] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[image] [nvarchar](100) NULL,
	[date_create] [date] NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([id], [name], [address], [phone], [email], [account], [password], [image], [date], [status]) VALUES (1, N'Lam123', N'Lai Châu', N'0333239735', N'lam@gmail.com', N'lam', N'1', N'images/preview.jpg', CAST(N'2024-03-09' AS Date), N'Activated')
INSERT [dbo].[Customer] ([id], [name], [address], [phone], [email], [account], [password], [image], [date], [status]) VALUES (2, N'MTP123', N'Lai C', N'0123123123', N'MTP@gmail.com', N'MTP', N'123', N'images/profile-image-default.jpg', CAST(N'2024-03-10' AS Date), N'Activated')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Delivery] ON 

INSERT [dbo].[Delivery] ([id], [name], [email], [phone], [password]) VALUES (1, N'Grab', N'grab@email.com', N'123-456-7890', N'secure123')
INSERT [dbo].[Delivery] ([id], [name], [email], [phone], [password]) VALUES (2, N'Uber', N'uber@email.com', N'987-654-3210', N'pass123')
INSERT [dbo].[Delivery] ([id], [name], [email], [phone], [password]) VALUES (3, N'Bob Johnson', N'bob.johnson@email.com', N'555-123-4567', N'secretPass')
SET IDENTITY_INSERT [dbo].[Delivery] OFF
GO
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([id], [product_info_id], [size], [color], [path]) VALUES (1, 1, N'S', N'Red', N'images/product-item-16.jpg')
INSERT [dbo].[Image] ([id], [product_info_id], [size], [color], [path]) VALUES (3, 1, N'S', N'Red', N'images/product-detail-item-16-1.jpg')
INSERT [dbo].[Image] ([id], [product_info_id], [size], [color], [path]) VALUES (4, 1, N'S', N'Red', N'images/product-detail-item-16-2.jpg')
SET IDENTITY_INSERT [dbo].[Image] OFF
GO
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([id], [name]) VALUES (1, N'Tu Hiep')
INSERT [dbo].[Location] ([id], [name]) VALUES (2, N'Hoang Mai')
SET IDENTITY_INSERT [dbo].[Location] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([id], [Customer_id], [Shipper_id], [delivery_id], [Staff_name], [totalprice], [createDate], [status]) VALUES (1, 1, NULL, 1, N'Manager', 416.98, CAST(N'2024-03-10T14:55:26.230' AS DateTime), N'1')
INSERT [dbo].[Order] ([id], [Customer_id], [Shipper_id], [delivery_id], [Staff_name], [totalprice], [createDate], [status]) VALUES (3, 2, NULL, 1, NULL, 100, CAST(N'2024-03-10T15:03:37.067' AS DateTime), N'0')
INSERT [dbo].[Order] ([id], [Customer_id], [Shipper_id], [delivery_id], [Staff_name], [totalprice], [createDate], [status]) VALUES (4, 1, 1, 1, N'Manager', 123, CAST(N'2024-03-10T15:12:20.163' AS DateTime), N'2')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Orderdetail] ON 

INSERT [dbo].[Orderdetail] ([id], [Od_id], [product_info_id], [size], [color], [quantity], [price]) VALUES (1, 1, 1, N'S', N'Red', 2, 197.98)
INSERT [dbo].[Orderdetail] ([id], [Od_id], [product_info_id], [size], [color], [quantity], [price]) VALUES (2, 1, 2, N'S', N'Grey', 1, 219)
INSERT [dbo].[Orderdetail] ([id], [Od_id], [product_info_id], [size], [color], [quantity], [price]) VALUES (3, 3, 1, N'S', N'Red', 1, 98.99)
SET IDENTITY_INSERT [dbo].[Orderdetail] OFF
GO
INSERT [dbo].[Product] ([product_info_id], [size], [color], [name], [quantity], [status]) VALUES (1, N'L', N'Red', N'RELAXED FIT JACKET', 5, NULL)
INSERT [dbo].[Product] ([product_info_id], [size], [color], [name], [quantity], [status]) VALUES (1, N'M', N'Red', N'RELAXED FIT JACKET', 5, NULL)
INSERT [dbo].[Product] ([product_info_id], [size], [color], [name], [quantity], [status]) VALUES (1, N'S', N'Red', N'RELAXED FIT JACKET', 5, NULL)
GO
SET IDENTITY_INSERT [dbo].[ProductInfor] ON 

INSERT [dbo].[ProductInfor] ([id], [description], [price], [material], [care_guide], [img_default], [style_id], [origin]) VALUES (6, N'JACQUARD DENIM JACKET', 98.99, N'OUTER SHELL
65% cotton
20% polyester
', N'Caring for your clothes is caring for the environment.
To lengthen the life of denim garments, always turn them inside out and wash at low temperatures. This will help you preserve their colours and the structure of the fabric, as well as reduce energy consumption. ', N'images/product-item-18.jpg', 1, N'China')
SET IDENTITY_INSERT [dbo].[ProductInfor] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipper] ON 

INSERT [dbo].[Shipper] ([id], [delivery_id], [name], [password], [location_id], [phone], [image]) VALUES (1, 1, N'Shipper 1', N'shipperpass1', 1, N'111111111', NULL)
INSERT [dbo].[Shipper] ([id], [delivery_id], [name], [password], [location_id], [phone], [image]) VALUES (2, 2, N'Shipper 2', N'shipperpass2', 2, N'222222222', NULL)
INSERT [dbo].[Shipper] ([id], [delivery_id], [name], [password], [location_id], [phone], [image]) VALUES (3, 1, N'Shipper 3', N'shipperpass3', 1, N'333333333', NULL)
SET IDENTITY_INSERT [dbo].[Shipper] OFF
GO
SET IDENTITY_INSERT [dbo].[Style] ON 

INSERT [dbo].[Style] ([id], [cate_id], [name], [description]) VALUES (1, 1, N'Jacket', N'Introducing our exceptional line of jackets, where style seamlessly meets functionality. Embrace the perfect blend of fashion and practicality with our meticulously designed collection. Crafted with the finest materials and attention to detail, our jackets offer a versatile and timeless appeal suitable for various occasions.')
INSERT [dbo].[Style] ([id], [cate_id], [name], [description]) VALUES (2, 1, N'Coat', N'The tailored silhouette of the coat strikes the perfect balance between modernity and classic tailoring, flattering the wearer with a sleek and versatile design. Whether you''re navigating the urban landscape or attending a formal occasion, this coat effortlessly elevates your ensemble.')
INSERT [dbo].[Style] ([id], [cate_id], [name], [description]) VALUES (3, 1, N'Puffers', N'Step into the cocoon of comfort provided by the premium down insulation, ensuring optimal heat retention without compromising on the lightweight feel. The quilted pattern not only enhances insulation but also adds a touch of modern aesthetics to your ensemble.')
SET IDENTITY_INSERT [dbo].[Style] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [username], [password], [rollid], [name], [phone], [address], [email], [image], [date_create], [status]) VALUES (1, N'lam', N'123', 3, N'Lam123', N'0333239735', N'Lai Châu', N'lam@gmail.com', N'images/preview.jpg', CAST(N'2024-03-05' AS Date), N'Deactivated')
INSERT [dbo].[User] ([id], [username], [password], [rollid], [name], [phone], [address], [email], [image], [date_create], [status]) VALUES (2, N'lam', N'123', 3, N'lam', N'0333239735', N'Lai Chau', N'lam@gmail.com', N'images/profile-image-default.jpg', CAST(N'2024-03-05' AS Date), N'Deactivated')
INSERT [dbo].[User] ([id], [username], [password], [rollid], [name], [phone], [address], [email], [image], [date_create], [status]) VALUES (3, N'manager', N'manager', 2, N'Manager', N'0333239735', N'Lai CHau', N'manager@gmail.com', N'images/cat-item1.jpg', CAST(N'2024-03-05' AS Date), N'Activated')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ('images/profile-image-default.jpg') FOR [image]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_date]  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_status]  DEFAULT (N'Activated') FOR [status]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_createDate]  DEFAULT (getdate()) FOR [createDate]
GO
ALTER TABLE [dbo].[Shipper] ADD  CONSTRAINT [DF_Shipper_image]  DEFAULT (N'images/profile-image-default.jpg') FOR [image]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('images/profile-image-default.jpg') FOR [image]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_date_create]  DEFAULT (getdate()) FOR [date_create]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_status]  DEFAULT (N'Deactivated') FOR [status]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_Product] FOREIGN KEY([product_info_id], [size], [color])
REFERENCES [dbo].[Product] ([product_info_id], [size], [color])
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_Image_Product]
GO
ALTER TABLE [dbo].[ImportBillDetail]  WITH CHECK ADD  CONSTRAINT [FK_ImportBillDetail_ImportBill] FOREIGN KEY([ImportB_id])
REFERENCES [dbo].[ImportBill] ([id])
GO
ALTER TABLE [dbo].[ImportBillDetail] CHECK CONSTRAINT [FK_ImportBillDetail_ImportBill]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([Customer_id])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[Orderdetail]  WITH CHECK ADD  CONSTRAINT [FK_Orderdetail_Order] FOREIGN KEY([Od_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[Orderdetail] CHECK CONSTRAINT [FK_Orderdetail_Order]
GO
ALTER TABLE [dbo].[Orderdetail]  WITH CHECK ADD  CONSTRAINT [FK_Orderdetail_Product] FOREIGN KEY([product_info_id], [size], [color])
REFERENCES [dbo].[Product] ([product_info_id], [size], [color])
GO
ALTER TABLE [dbo].[Orderdetail] CHECK CONSTRAINT [FK_Orderdetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductInfor] FOREIGN KEY([product_info_id])
REFERENCES [dbo].[ProductInfor] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductInfor]
GO
ALTER TABLE [dbo].[ProductInfor]  WITH CHECK ADD  CONSTRAINT [FK_ProductInfor_Style] FOREIGN KEY([style_id])
REFERENCES [dbo].[Style] ([id])
GO
ALTER TABLE [dbo].[ProductInfor] CHECK CONSTRAINT [FK_ProductInfor_Style]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_ProductInfor] FOREIGN KEY([Proinfo_id])
REFERENCES [dbo].[ProductInfor] ([id])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_ProductInfor]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_SaleEvent1] FOREIGN KEY([Saleevent_id])
REFERENCES [dbo].[SaleEvent] ([id])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_SaleEvent1]
GO
ALTER TABLE [dbo].[Shipper]  WITH CHECK ADD  CONSTRAINT [FK_Shipper_Delivery] FOREIGN KEY([delivery_id])
REFERENCES [dbo].[Delivery] ([id])
GO
ALTER TABLE [dbo].[Shipper] CHECK CONSTRAINT [FK_Shipper_Delivery]
GO
ALTER TABLE [dbo].[Shipper]  WITH CHECK ADD  CONSTRAINT [FK_Shipper_Location] FOREIGN KEY([location_id])
REFERENCES [dbo].[Location] ([id])
GO
ALTER TABLE [dbo].[Shipper] CHECK CONSTRAINT [FK_Shipper_Location]
GO
ALTER TABLE [dbo].[Style]  WITH CHECK ADD  CONSTRAINT [FK_Style_Category] FOREIGN KEY([cate_id])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Style] CHECK CONSTRAINT [FK_Style_Category]
GO
USE [master]
GO
